* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

header {
    background-color: hsl(210, 100%, 56%);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

nav {
    height: 2.5em;
    width: 100%;
    background-color: rgb(255, 228, 95);
    border-radius: 0 0 10px 10px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin: .2em;
}

h1.intro {
    margin: 1.2em;
}

h1.stroke {
    -webkit-text-stroke: 1px black;
    font-weight: 700;
}

main {
    width: 50%;
    margin: 20px auto;
    font-size: 2.5em;
}


li a:hover {
    background-color: hsl(210, 100%, 56%);
    color: white;
}